
/*examples.html css*/
/*header*/
header{
    width: 100%;
    height: 100px;
    background-color: #F5A873;
    position: relative;
    display: inline-flex;
    overflow: auto;
    justify-content: space-between;
}


.links a li:hover{
    color: white;
    
}

.links{
    display: flex;
    height: 100%;
    align-items: center;
    margin: auto;
    gap:100px;
    position: relative;
}
.links a{
    color:#754946;
    text-decoration: none;
}
.links a li{
    list-style-type: none;
    font-family: Anton;
    color: #754946;
    
}

img{
    width: 100px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    mix-blend-mode: multiply;
}
/*The whole middle*/
main{height: 100%; overflow: auto;}



html,body{
    height:100%;
    background-color: #F2EAD0;
}

*{
    font-family: Verdana;
    margin:0px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap:50px;
    margin-bottom: 200px;
}
table{
    margin-top: 50px;
    height: 200px;
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
    position:relative;
    font-size: 9px;
    table-layout: auto;
}
table,th,td{
    color: #99613b;
    border: 2px solid #99613b;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
}
th{
    font-weight: 800;
    font-size: 20px;
}
.example2{
    font-size: 15px;
    position:relative;
    height: 300px;
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
    text-align: center;
    table-layout: auto;
}
.example2 th{
    font-size: 16px;
}

/*footer*/
footer{
    display: flex;
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: #F58D68;
    bottom: 0px;
    align-items: center;
    justify-content:space-between;
    border-top: 2px solid #754946;
    overflow: auto;
}
#credit{
    display: flex;
    position:relative;
    color:white;
    font-size: 20px;
}
.contact{
    
    display: flex;
    color:#754946;
    font-size: 15px; 
    text-align: center;
    padding-right: 20px;
}
