/*Header*/
header{
    width: 100%;
    height: 100px;
    background-color: #F5A873;
    position: relative;
    display: inline-flex;
    overflow: auto;
    justify-content: space-between;
}

.links a li:hover{
    color: white;
    
}

.links{
    display: flex;
    height: 100%;
    align-items: center;
    margin: auto;
    gap:100px;
    position: relative;
}
.links a{
    color:#754946;
    text-decoration: none;
}
.links a li{
    list-style-type: none;
    font-family: Anton;
    color: #754946;
    
}
img{
    width: 100px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    mix-blend-mode: multiply;
}
/*The whole middle*/
p{
    width: 750px;
    
    border-bottom: 3px solid #F26938;
    color: #75685b;
}
h1{
    color:#F58D68;
}

*{
    font-family: Verdana;
    margin:0px;
}

main{height: 100%;position: relative;}

p, h1{
    margin: 25px;
}

html,body{
    height:100%;
    background-color: #F2EAD0;
    margin-bottom: 200px;
}


section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 100px;
}

table, th, td{
    text-align: center;
    border: 2px solid;
    border-collapse: collapse;
    color:#442c2a;
}
table{
    display: table;
    min-width: 500px;
    height: 300px;
    width: 750px;
}

/*Footer*/
footer{
    display: flex;
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: #F58D68;
    bottom: 0px;
    align-items: center;
    justify-content:space-between;
    border-top: 2px solid #754946;
    overflow:auto;
}
#credit{
    display: flex;
    position:relative;
    color:white;
    font-size: 20px;
}
.contact{
    
    display: flex;
    color:#754946;
    font-size: 15px; 
    text-align: center;
    padding-right: 20px;
}
